body {
    background-color:black;
    font-family: Arial;
}

h1{color:gray;
    font-family: verdana;}

.maindiv{
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

mark {
    background-color: yellow;
}

.center{
    padding-left: 100px;
}

.number{
    margin-left: 50px;
}

.range{
    margin-left: 15px;
}

.years{
    margin-left: 20px;
}
